<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="new tech blog"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="css/style.css">
<title>Tech blog</title>
</head>
<body>
    <header>
        <a href="/" id="title"><h1>Tech blog</h1></a>
        {{#if logged_in}}
         <div class="navi-bar">
             <button id="logout" class= "bnt bnt-dark">Logout</button>
             <a href="/post" class="bnt btn-primary">post</a>
             <a href="/profile" class="btn btn-secondary">View profile</a>
         </div>
         {{else}}
         <div class="navi-bar">
             <a href="/login" class="btn btn-light">login</a>
             <a href="/register" class="bnt btn-dark">register Account</a>
         </div>
         {{/if}}
    </header>

    <main>
        {{body}}
    </main>

    {{#if logged_in}}
    <script src="/public/js/logout.js"></script>
    {{/if}}
</body>
</html>