<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Start Style Sheets -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css" />
<!-- end of Style sheets -->
<title>Tech blog</title>
</head>
<body>
    <header>
        <a href="/" id="title"><h1>TECH BLOG</h1></a>
        {{#if logged_in}}
         <div class="navigation">
             <button id="logout" class="btn nav btn">Logout</button>
             <a href="/post" class="bnt nav btn-primary" >post</a>
             <a href="/profile" class="btn nav btn-secondary">View profile</a>
         </div>
         {{else}}
         <div class="navigation">
             <a href="/login" class="btn btn-dark">login</a>
             <a href="/register" class="btn btn-dark">register</a>
              </div>  
         </div>
         {{/if}}
    </header>

    <main>
        {{{ body }}}
    </main>



    {{#if logged_in}}

    <script src="/js/logout.js"></script>

    {{/if}}
    
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
</body>
</html>