<section class="col-8 offset-2 align-self-center">
    <h2>Create Post</h2>
    <div class="post-form">
        <div class="mb-3">
            <label for="post-title" class="label-form">Title of Post</label> 
            <input type="text" class="form-control" id="post-title">
        </div>
        <div class="mb-3">
            <label for= "content-post"  class="label-form">Post content:</label>
            <textarea id="content-post" class="label-control" rows="10"></textarea>
        </div>
        <button type="button" id="create" class="btn btn-warning">Post Post</button>
    </div>
</section>

{{#if post.length}} 
 <section class="col-8 offset-2 align-self-center"> 
     <h2>User Posrt</h2>
     <div> 
         |<ul class="list-group">
             {{#each post as |post|}}
             <li class="list-group-item">
                 {{> post-info post}}
                 <div class="col col-8 offset-2 align-self-center">
             <button class="edit">
                 <a href="/dashboard/edit/{{post.id}}">Edit Post</a>
             </button>
                 </div>
             </li>
             {{/each}}
         </ul>
     </div>
 </section>
 {{/if}}

 <script src="/public/js/postcreate.js"></script>