<div class="card">
    <div class="card-body">
        <form class=" form form-login">
            <div class="form-group">
                <label for="login-email">email:
                </label>
                 <input class="input-form login-email" type="text" id="login-email" />

            </div>
            <div class="from-group">
                <label for="login-password">password:</label> 
                <input class="form-input" type="password" id="login-password" />
                <div class="form-group">
                    <button class="btn button" type="submit" id="login">login</button> 
            </div>
        </form>
    </div>
</div>

<script src="js/login.js"></script>