<div class="d-flex justify-content-center">
    <div class="login-form">
        <div class="card-header" id="login-header">
            <h5 class="mb-0">login</h5>
        </div>
        <div class="card-body mx-auto">
        <div>
        <label for=" email-login">Email:</label>
        <input type="text" id="email-login" size="100"/>
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input type="password"  type="password" id="password-login" size="100" />
        </div>
        <div class="form-group center">
            <button class="btn btn-primary" type="submit" id="login">log in</button>
        </div>
    </form>
  </div>
</div>

<script src="/public/js/login.js"></script>
