<div class="card">
<div class="card-body">
    <form method="POST">
        <div class="form-group">
            <label for="post-title">Title</label>
              <input type="text" class="form-control" id="post-title">
        </div>
        <div class="form-group">
            <label for="post-text">Write Post below</label> 
             <textarea type="text" class="form-control"  id="post-text" rows="10" cols="100">the great empty...write something down here</textarea>
        </div>
        <div class="">
            <button type="submit" class="btn button btn-primary" id="post">submit post</button> 
        </div>
    </form>
</div>
</div>

<script src="/js/post.js"></script>