<div class="card">
<div class="card-body">
    <form method="POST">
        <div class="form-group">
            <label for="post-title">Title</label>
              <input type="text" class="form-controle" id="post-title">
        </div>
        <div class="form-group"|>
            <label for="post-text">........its really empty</label> 
             <textarea type="text" class="form-control" id="post-text" />
        </div>
        <div class="">
            <button type="submit" class="btn button btn-primary" id="post">submit post</button> 
        </div>
    </form>
</div>
</div>

<script src="/public/js/post.js"></script>