<div class="card">
    <div class="card-body">
        <form method="POST">
           <div class="form-group">
               <label for="post-title" id="previous-title">{{posts.title}}</label>
               <input type="text" class="form-control" id="update-title" placeholder="Input new title">
           </div>
           <div class="form-group">
               <label for="post-text">Edit post</label>
                  <textarea type="text" class="form-control" id="update-text" rows="10" cols="100">{{post.text}}</textarea>
           </div>
           <div class="">
               <button type="submit" class="btn btn-primary" id="update" value="{{post.id}}">Update</button>
           </div>
        </form>
    </div>
</div>

<script src="/js/update.js">